{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

    {% set image =  app.user.image %}
    <div style="height: 11rem;
         width: 11rem;
         display: block;
         margin-left:4rem;
         margin-top: 10rem;
         border-radius: 50%;
         overflow: hidden;
         border: 2px solid;
         max-height: 100%;;">
        <img alt="your image" id="blah" src="{{ asset('uploads/images/profils/'~image) }}" style="max-height: 100%;"/>
    </div>

    {{ form_label(form.imageFile) }}
    {{ form_errors(form.imageFile) }}
    {{ form_widget(form.imageFile) }}

    {{ form_label((form.username)) }}
    {{ form_errors(form.username) }}
    {{ form_widget(form.username) }}

    {{ form_label((form.email)) }}
    {{ form_errors(form.email) }}
    {{ form_widget(form.email) }}

    {{ form_label(form.current_password) }}
    {{ form_errors(form.current_password) }}
    {{ form_widget(form.current_password) }}

    {{ form_label((form.adress)) }}
    {{ form_errors(form.adress) }}
    {{ form_widget(form.adress) }}

    {{ form_label((form.postal_code)) }}
    {{ form_errors(form.postal_code) }}
    {{ form_widget(form.postal_code) }}

    {{ form_label((form.city)) }}
    {{ form_errors(form.city) }}
    {{ form_widget(form.city) }}

    {{ form_label((form.phone_number)) }}
    {{ form_errors(form.phone_number) }}
    {{ form_widget(form.phone_number) }}

<div>
    <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
</div>
{{ form_end(form) }}
