{% trans_default_domain 'FOSUserBundle' %}


<!-- PAGE EDIT ACCOUNT -->
<main class="editAccount">

    <!-- INTRO IMAGE PARALLAX -->
    <div class="parallax-window" data-parallax="scroll" data-image-src={{ asset('images/personnal.jpg') }}></div>

    <!-- TABS -->
    <ul class="tabsAccount" role="tablist">
        <li role="tab" aria-controls="panneau-1">Informations</li>
        <li role="tab" aria-controls="panneau-2">Mes annonces</li>
        <li role="tab" aria-controls="panneau-3">Mes commentaires</li>
    </ul>


    <!-- --------------------------------
    -------------- MES INFOS ------------
    ------------------------------------->

    <div role="tabpanel" id="panneau-1">
        <h1> Voici les informations de votre compte <strong> {{ app.user.lastname }} </strong>  </h1>
        <p class="editInfo"> Vous pouvez les modifier en cliquant sur l'icone à droite de chaque champs. </p>
        <p class="editInfo2"> N'oubliez pas de cliquer sur le bouton pour mettre à jour </p>


        <!-- EDIT FORM ACCOUNT -->
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

        <fieldset class="identityEdit">
            <legend>Identité en ligne</legend>

            <div class="editUsername">
                {{ form_label((form.username)) }}
                {{ form_errors(form.username) }}
                {{ form_widget(form.username) }}

            </div>

            <div class="editEmail">
                {{ form_label((form.email)) }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}

            </div>
        </fieldset>

        <fieldset class="coordEdit">
            <legend>Coordonnées</legend>

            <div class="editAdress">
                {{ form_label((form.adress)) }}
                {{ form_errors(form.adress) }}
                {{ form_widget(form.adress) }}

            </div>

            <div class="editPhone">
                {{ form_label((form.phone_number)) }}
                {{ form_errors(form.phone_number) }}
                {{ form_widget(form.phone_number) }}

            </div>

            <div class="editPostal">
                {{ form_label((form.postal_code)) }}
                {{ form_errors(form.postal_code) }}
                {{ form_widget(form.postal_code) }}

            </div>

            <div class="editCity">
                {{ form_label((form.city)) }}
                {{ form_errors(form.city) }}
                {{ form_widget(form.city) }}

            </div>
        </fieldset>

        <fieldset class="mdpEdit">
            <legend>Mot de passe</legend>
            <div class="editPassword">
                {{ form_label(form.current_password) }}
                {{ form_errors(form.current_password) }}
                {{ form_widget(form.current_password) }}
            </div>

            <div class="changeEditPassword">
                <a href="{{ path('fos_user_change_password') }}">Changer de mot de passe</a>
            </div>
        </fieldset>

        <div class="submitEditAccount">
            <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        </div>

        {{ form_end(form) }}

        <blockquote>
            <p>Toutes les informations enregistrées sont soumises à un certain nombre
                de <strong>principes</strong> concernant leur protection.
                <strong>Aucun détournement</strong> des données personnelles ne sera effectué.</p>

            <p> Seules les <strong>informations pertinentes</strong> et nécessaires pour leur finalités sont enregistrées
                Les données personnelles doivent être <strong>adéquats</strong>, <strong>pertinentes</strong> et <strong>non-execessives</strong>
                Un <strong>droit à l'oubli</strong> peut être réclamer.</p>

            <p>  Une <strong>durée de conservation</strong> de ces données doit être établie en fonction de la finalité de chacune.
                Nous nous tenons responsable de la <strong>confidentialité</strong> de ces données
                Nous disposons d'une garantie aux personnnes de l'<strong>information nécessaire</strong>relative à leurs données</p>

            <p>  De plus, nous garantissons le <strong>droit d'accès</strong>, de <strong>rectification</strong> et d'<strong>opposition</strong> de vos données personnslles</p>
        </blockquote>
    </div>

    <!-- --------------------------------
    -------------- ANNONCES -------------
    ------------------------------------->

    <div role="tabpanel" id="panneau-2">
        <h1> Voici vos annonces <strong> {{ app.user.lastname }} </strong>  </h1>
        <p class="editInfo"> Vous pouvez les consulter ou les modifier via cette interface </p>
        <p class="editInfo2"> Mais également être redirigé directement vers elles </p>

        <section class="accordion-group" id="editAccountannounces">

            <div class="accordion-group__accordion">
                <header class="accordion-group__accordion-head">
                    <h3 class="accordion-group__accordion-heading">
                        <button type="button" class="accordion-group__accordion-btn"><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Voir</a><span>Annonce 1</span> </button>
                    </h3>
                </header>
                <div class="accordion-group__accordion-collapse">
                    <div class="accordion-group__accordion-content">
                        <p class="datePublish">Publiée le : <strong> 06/12/17</strong></p>
                        <p>Commentaires :  <strong> 3</strong></p>
                        <p>Ville : <strong> Amiens</strong></p>
                        <p>Superficie:  <strong> 32 m<sup>2</sup></strong></p>
                    </div>
                </div>
            </div>


            <div class="accordion-group__accordion">
                <header class="accordion-group__accordion-head">
                    <h3 class="accordion-group__accordion-heading">
                        <button type="button" class="accordion-group__accordion-btn"><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Voir</a><span> Annonce 2</span></button>
                    </h3>

                </header>
                <div class="accordion-group__accordion-collapse">
                    <div class="accordion-group__accordion-content">
                        <p class="datePublish">Publiée le : <strong> 06/12/17</strong></p>
                        <p>Commentaires :  <strong> 3</strong></p>
                        <p>Ville : <strong> Amiens</strong></p>
                        <p>Superficie:  <strong> 32 m<sup>2</sup></strong></p>
                    </div>
                </div>
            </div>


            <div class="accordion-group__accordion">
                <header class="accordion-group__accordion-head">
                    <h3 class="accordion-group__accordion-heading">
                        <button type="button" class="accordion-group__accordion-btn"><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Voir</a><span> Annonce 3</span></button>
                    </h3>
                </header>
                <div class="accordion-group__accordion-collapse">
                    <div class="accordion-group__accordion-content">
                        <p class="datePublish">Publiée le : <strong> 06/12/17</strong></p>
                        <p>Commentaires :  <strong> 3</strong></p>
                        <p>Ville : <strong> Amiens</strong></p>
                        <p>Superficie:  <strong> 32 m<sup>2</sup></strong></p>
                    </div>
                </div>
            </div>

            <div class="accordion-group__accordion">
                <header class="accordion-group__accordion-head">
                    <h3 class="accordion-group__accordion-heading">
                        <button type="button" class="accordion-group__accordion-btn"><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Voir</a><span> Annonce 4</span></button>
                    </h3>
                </header>
                <div class="accordion-group__accordion-collapse">
                    <div class="accordion-group__accordion-content">
                        <p class="datePublish">Publiée le : <strong> 06/12/17</strong></p>
                        <p>Commentaires :  <strong> 3</strong></p>
                        <p>Ville : <strong> Amiens</strong></p>
                        <p>Superficie:  <strong> 32 m<sup>2</sup></strong></p>
                    </div>
                </div>
            </div>

            <div class="accordion-group__accordion">
                <header class="accordion-group__accordion-head">
                    <h3 class="accordion-group__accordion-heading">
                        <button type="button" class="accordion-group__accordion-btn"><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Voir</a><span> Annonce 5</span></button>
                    </h3>
                </header>
                <div class="accordion-group__accordion-collapse">
                    <div class="accordion-group__accordion-content">
                        <p class="datePublish">Publiée le : <strong> 06/12/17</strong></p>
                        <p>Commentaires :  <strong> 3</strong></p>
                        <p>Ville : <strong> Amiens</strong></p>
                        <p>Superficie:  <strong> 32 m<sup>2</sup></strong></p>
                    </div>
                </div>
            </div>

        </section>
    </div>

    <!-- ------------------------------------
    -------------- COMMENTAIRES -------------
    ----------------------------------------->

    <div role="tabpanel" id="panneau-3">
        <h1> Voici vos commentaires <strong> {{ app.user.lastname }} </strong>  </h1>
        <p class="editInfo"> Vous pouvez consulter les commentaires laissés sur vos annonces et y répondre </p>
        <p class="editInfo2"> Mais également voir les réponses aux commentaires que vous avez posté </p>

        <!-- TABS -->
        <ul class="tabsComments" role="tablist">
            <li role="tab" aria-controls="com-1">Reçus</li>
            <li role="tab" aria-controls="com-2">Postés</li>
        </ul>

        <!-- ON MY ANNOUNCES -->
        <div role="tabpanel" id="com-1">
                <ul class="com2Content">
                    <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Voir</a>
                        <strong> 15/02/2017 </strong>
                        <span>Quand le logement sera-il diponible?</span>
                    </li>
                    <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Voir</a>
                        <strong> 15/02/2017 </strong>
                        <span>Quand le logement sera-il diponible?</span>
                    </li>
                    <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Voir</a>
                        <strong> 15/02/2017 </strong>
                        <span>Quand le logement sera-il diponible?</span>
                    </li>
                    <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Voir</a>
                        <strong> 15/02/2017 </strong>
                        <span>Quand le logement sera-il diponible?</span>
                    </li>
                </ul>
        </div>

        <!-- ON OTHERS ANNOUNCES -->
        <div role="tabpanel" id="com-2">
            <ul class="com2Content">
                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Voir</a>
                    <strong> 15/02/2017 </strong>
                    <span> Vous accepter les animaux ?</span>
                </li>
                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Voir</a>
                    <strong> 15/02/2017 </strong>
                    <span> Vous accepter les animaux ?</span>
                </li>
                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Voir</a>
                    <strong> 15/02/2017 </strong>
                    <span> Vous accepter les animaux ?</span>
                </li>
                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Voir</a>
                    <strong> 15/02/2017 </strong>
                    <span> Vous accepter les animaux ?</span>
                </li>
            </ul>
        </div>


    </div>





</main>
