{% trans_default_domain 'FOSUserBundle' %}

<!-- MODALE DE CONNEXION -->
    <!-- Début du formulaire de connexion -->
    <form id="login-form" action="{{ path("fos_user_security_check") }}" method="post">

        {% if error %}
            <div class="errorConnect">
                <div><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Identifiants incorrects</div>
            </div>
        {% endif %}

        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <div class="heading">Formulaire de connexion</div>

        <!-- Partie formulaire normal -->
        <div class="left">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" name="_password" required="required" />
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label class="rememberMe" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </div>
        <!-- Partie connexion avec réseaux sociaux -->
        <div class="right">
            <div class="connect">Se connecter avec</div>
            <a href="" class="facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="" class="twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="" class="google-plus">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
            </a>
        </div>
    </form>