{% trans_default_domain 'FOSUserBundle' %}



<main>
    <h1>Changement de mot de passe</h1>
    <p></p>

</main>
        <!-- Content -->
        <section id="content" class="changerMotDePasse">
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

            {{ form_label((form.current_password)) }}
            {{ form_errors(form.current_password) }}
            {{ form_widget(form.current_password) }}

            {{ form_widget(form.plainPassword) }}
            {{ form_errors(form.plainPassword) }}

            <input type="submit" value="{{ 'change_password.submit'|trans }}" />

            {{ form_end(form) }}

            {%  for message in app.session.flashbag.get('Contact-Message') %}
                <li><b>{{ message }}</b></li>
            {% endfor %}

        </section>

    </div>
</div>

