{% trans_default_domain 'FOSUserBundle' %}

                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}



                    <!-- MAIL -->
                     <div class="group email">
                        {{ form_label((form.email)) }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email) }}
                     </div>

                    <!-- USERNAME -->
                    <div class="group username">
                        {{ form_label((form.username)) }}
                        {{ form_errors(form.username) }}
                        {{ form_widget(form.username) }}
                     </div>

                    <!-- PASSWORD -->
                    <div class="group password">
                        {{ form_widget(form.plainPassword) }}
                        {{ form_errors(form.plainPassword) }}
                     </div>

                    <!-- SEXE -->
                    <div class="group sexe">
                        {{ form_label((form.sexe)) }}
                        {{ form_errors(form.sexe) }}
                        {{ form_widget(form.sexe) }}
                    </div>

                    <!-- IMAGE FILE -->
                    <div class="imageFile">
                        <div class="imageFileContainer">
                            <div class="imageFileContent">
                                <img src="{{ asset('images/avatar.png') }}" id="imageFileId" style="background-image: url( {{ asset('images/avatar.png') }} );" />
                            </div>
                        </div>

                        <div class="imageFileRegister">
                            {{ form_label(form.imageFile) }}
                            {{ form_errors(form.imageFile) }}
                            {{ form_widget(form.imageFile) }}
                        </div>
                    </div>
                    <!-- LAST NAME -->
                    <div class="group lastname">
                        {{ form_label((form.lastname)) }}
                        {{ form_errors(form.lastname) }}
                        {{ form_widget(form.lastname) }}
                    </div>

                    <!-- Name -->
                    <div class="group name">
                        {{ form_label((form.name)) }}
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name) }}
                    </div>

                    <!-- PHONE -->
                    <div class="group phone">
                        {{ form_label((form.phone_number)) }}
                        {{ form_errors(form.phone_number) }}
                        {{ form_widget(form.phone_number) }}
                    </div>

                    <!-- ADRESS -->
                    <div class="group adress">
                        {{ form_label((form.adress)) }}
                        {{ form_errors(form.adress) }}
                        {{ form_widget(form.adress) }}
                    </div>

                    <!-- POSTAL CODE -->
                    <div class="group postal">
                        {{ form_label((form.postal_code)) }}
                        {{ form_errors(form.postal_code) }}
                        {{ form_widget(form.postal_code) }}
                    </div>

                    <!-- CITY -->
                    <div class="group city">
                        {{ form_label((form.city)) }}
                        {{ form_errors(form.city) }}
                        {{ form_widget(form.city)}}
                    </div>

                    <!-- INPUT TYPE SUBMIT -->
                    <input type="submit" value="{{ 'registration.submit'|trans }}" />

             {{ form_end(form) }}
