{% extends "@CherchAppart/layout.html.twig" %}

{% block body %}

    {%  for message in app.session.flashbag.get('Message') %}
        <li><b>{{ message }}</b></li>
    {% endfor %}


    <main id="main" role="main" class="main" aria-label="content">
    <div class="homepageHeader">
            {% if app.user == null %}
                <h1>CherchAppart</h1>
                <p>Trouver un appartement à louer selon vos critères parmis des milliers d'annonces</p>

                <button data-a11y-dialog-show="my-accessible-dialog-connect" class="btnLogin"> Se connecter </button>
                <button data-a11y-dialog-show="my-accessible-dialog-register" class="btnRegister">S'inscrire </button>
            {% else %}
                <h1>Bonjour {{ app.user.lastname }} !</h1>
                <p>Tu peux maintenant proposer une annonce
                    ou en chercher une </p>
            {% endif %}


        </div>

        <div class="topAnnounces">
            <h2> Meilleures annonces parmis</h2>
            <ul>
                <li>
                    <a>
                        <div class="pictTop">
                            <img src="{{ asset('images/appartement.jpeg') }}"/>
                            <div class="overlay">
                                <div class="text">Voir plus</div>
                            </div>
                        </div>
                        <div class="textTop"><p>Studio</p></div>
                    </a>

                </li>
                <li>
                    <a>
                        <div class="pictTop">
                            <img src="{{ asset('images/student.jpg') }}" alt="image d'étudiant"/>
                            <div class="overlay">
                                <div class="text">Voir plus</div>
                            </div>
                        </div>
                        <div class="textTop"><p>Chambre étudiant</p></div>
                    </a>

                </li>
                <li>
                    <a>
                        <div class="pictTop">
                            <img src="{{ asset('images/t1.jpeg') }}"/>
                            <div class="overlay">
                                <div class="text">Voir plus</div>
                            </div>
                        </div>
                        <div class="textTop"><p>Appart. T1</p></div>
                    </a>

                </li>
                <li>
                    <a>
                        <div class="pictTop">
                            <img src="{{ asset('images/t2.jpeg') }}"/>
                            <div class="overlay">
                                <div class="text">Voir plus</div>
                            </div>
                        </div>
                        <div class="textTop"><p>Appart. T2</p></div>
                    </a>

                </li>
                <li>
                    <a>
                        <div class="pictTop">
                            <img src="{{ asset('images/maison.jpeg') }}"/>
                            <div class="overlay">
                                <div class="text">Voir plus</div>
                            </div>
                        </div>
                        <div class="textTop"><p>Appart. T3</p></div>
                    </a>

                </li>
            </ul>
        </div>

        <div class="deuxSystemes">
            <h2> Deux systèmes de recherche </h2>
            <ul>
                <li>
                    <a>
                        <div class="sysTop">
                            <img src="{{ asset('images/input.jpeg') }}"/>
                            <div class="overlay">
                                <div class="text">Essayer</div>
                            </div>
                        </div>
                        <div class="sysText">
                            Formulaire simple
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="sysTop">
                            <img src="{{ asset('images/maps.jpeg') }}"/>
                            <div class="overlay">
                                <div class="text">Essayer</div>
                            </div>
                        </div>
                        <div class="sysText">
                            Carte intéractive
                        </div>
                    </a>
                </li>
            </ul>


        </div>
    </main>

    <div class="dialog" aria-hidden="true" id="my-accessible-dialog-connect">
        <div class="dialog-overlay" tabindex="-1" data-a11y-dialog-hide></div>
        <div class="dialog-content" aria-labelledby="dialogTitle" aria-describedby="dialogDescription" role="dialog">
            <div role="document">
                <h1 id="dialogTitle" tabindex="0">Connectez-vous</h1>
                <p id="dialogDescription">Pour pouvoir accéder au contenu</p>

                    <form id="login-form" action="{{ path("fos_user_security_check") }}" autocomplete="off" method="post">

                        <div class="socianetwork">
                            <h2 class="connect">Se connecter avec</h2>
                            <ul>
                                <li><button class="facebook" type="button"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</button></li>
                                <li><button class="googleplus" type="button"><i class="fa fa-google-plus" aria-hidden="true"></i> Google </button></li>
                                <li><button class="twitter" type="button"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</button></li>
                            </ul>
                        </div>

                        <div class="ouTransition">
                            <span class="ouContainer">
                                <span class="ouContent">
                                    <span>ou</span>
                                </span>
                            </span>
                        </div>

                        <div class="normalLogin">
                            <label for="username">Nom d'utilisation ou Adresse mail</label>
                            <input type="text" id="username" name="_username" required="required" />

                            <label for="password">Mot de passe</label>
                            <input type="password" id="password" name="_password" required="required" />

                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label class="rememberMe" for="remember_me">Se souvenir de moi</label>

                            <input type="submit" id="_submit" name="_submit" value="Se connecter" />

                            <a class="passwordForget">Mot de passe oublié</a>
                            <p class="noAccount"> Pas de compte ? </p> <a href="#" class="noAccountLink"> Inscrivez-vous</a>
                        </div>



                    </form>

                <button data-a11y-dialog-hide class="dialog-close" aria-label="Fermer la fenêtre de dialogue">&times;</button>
            </div>
        </div>
    </div>

    <div class="dialog" aria-hidden="true" id="my-accessible-dialog-register">
        <div class="dialog-overlay" tabindex="-1" data-a11y-dialog-hide></div>
        <div class="dialog-content" aria-labelledby="dialogTitle" aria-describedby="dialogDescription" role="dialog">
            <div role="document">
                <h1 id="dialogTitle" tabindex="0">Inscrivez vous</h1>

                <p id="dialogDescription">Ceci est le texte de la modale !</p>

                <button data-a11y-dialog-hide class="dialog-close" aria-label="Fermer la fenêtre de dialogue">&times;</button>
            </div>
        </div>
    </div>

   <a href="{{ path('fos_user_security_login') }}" data-sideclick-modal-trigger>Login</a>
{% endblock %}