{% extends '@CherchAppart/Layout/base.html.twig' %}
{% block body %}
    <h1>Modifier un compte</h1>

    {{ form_start(edit_form) }}
    {{ form_label(edit_form.password, "Mot de passe") }}
    {{ form_widget(edit_form.password) }}
    {{ form_label(edit_form.mail, "Adresse mail") }}
    {{ form_widget(edit_form.mail) }}
    {{ form_label(edit_form.bornDate, "Date de naissance") }}
    {{ form_widget(edit_form.bornDate) }}
    {{ form_label(edit_form.adress, "Adresse Postale") }}
    {{ form_widget(edit_form.adress) }}
    {{ form_label(edit_form.postalCode, "Code Postal") }}
    {{ form_widget(edit_form.postalCode) }}
    {{ form_label(edit_form.city, "Ville") }}
    {{ form_widget(edit_form.city) }}
    {{ form_label(edit_form.phone, "Téléphone mobile") }}
    {{ form_widget(edit_form.phone) }}
    {{ form_label(edit_form.mobilePhone, "Téléphone Fixe") }}
    {{ form_widget(edit_form.mobilePhone) }}
    <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}
{% endblock %}
